* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 30px auto 0;
  max-width: 500px;
  padding: 0 15px;
}
.container .form {
  padding: 20px;
  display: flex;
  background-color: rgb(228, 228, 228);
  gap: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.container .form .input {
  border: none;
  outline: none;
  padding: 10px;
  flex: 1;
}
.container .form :is(.add) {
  border: none;
  cursor: pointer;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.container .tasks {
  background-color: rgb(228, 228, 228);
  margin-top: 20px;
  padding: 20px;
}
.container .tasks .task {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
}
.container .tasks .task p {
  flex: 1;
}
.container .tasks .task button {
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: red;
  color: white;
}
.container :is(button, .task, .tasks, input[type="text"]) {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
